<section id="customer-list" layout="column" ng-cloak="" class="">
    <md-content class="md-padding">
        <md-list>
            <md-subheader class="md-no-sticky">Current Customers</md-subheader>
            <md-list-item ng-repeat="customer in $ctrl.customers"  class="noright">
                <p>{{ customer.name }}</p>
                <md-button class="md-secondary" ng-click="$ctrl.viewCustomerDetails()">More Info</md-button>
            </md-list-item>
        </md-
    </md-content>
</section>