<md-toolbar class="md-tall md-primary">
    <h2 class="md-toolbar-tools">
        <span>Customers > {{$ctrl.customer.firstName + " " + $ctrl.customer.lastName}} > Details</span>
    </h2>
</md-toolbar>

<section id="customer-details" layout="column" ng-cloak="" class="md-padding">
    <div class="" layout="column">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{$ctrl.customer.firstName + " " + $ctrl.customer.lastName}}</span>
                    <span class="md-subhead">{{$ctrl.customer.email}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="/imgs/home.jpg" class="md-card-image customer-home" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Personal Information</span>
                    <span class="md-subhead">
                        <p>Phone</p>
                        <p>{{$ctrl.customer.phoneNumber}}</p>

                        <p>Address</p>
                        <p>{{$ctrl.customer.address}}</p>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center center">
                <md-button>Contact</md-button>
                <md-button>Forward</md-button>
            </md-card-actions>
            <md-card-content>
                    <span class="md-headline">Home Information</span>
                    <span class="md-subhead">
                        <p>Total Size in SQ Ft.</p>
                        <p>{{$ctrl.house.totalSize}}</p>
                        <p># of Stories</p>
                        <p>{{$ctrl.house.numStories}}</p>
                        <p># of Bedrooms</p>
                        <p>{{$ctrl.house.numBedrooms}}</p>
                        <p># of Bathrooms</p>
                        <p>{{$ctrl.house.numBathrooms}}</p>
                        <p>AC Type</p>
                        <p>{{$ctrl.house.acType}}</p>
                        <p>Heating Type</p>
                        <p>{{$ctrl.house.heatingType}}</p>
                        <p>Installation Date</p>
                        <p>{{$ctrl.house.installationDate | date:"MM/dd/yyyy" }}</p>
                    </span>
                    <md-divider></md-divider>
                    <span class="md-headline">Room(s) Information</span>
                    <span class="md-subhead" ng-if="$ctrl.rooms.length > 0" ng-repeat="room in $ctrl.rooms">
                        <p>Size</p>
                        <p>{{room.size}}</p>
                        <p>Story #</p>
                        <p>{{room.numStory}}</p>
                        <p># of Windows</p>
                        <p>{{room.numWindows}}</p>
                    </span>
            </md-card-content>
        </md-card>
    </div>
</section>